@{
    Layout = "_Layout";
}

<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>EMI Calculation Form</h2>
            <div class="text-center">
                <p class="mb-0">Check Fetch and EMI API Response</p>
                <div class="row justify-content-center mt-2">
                    <div class="col-auto">
                        <a href="/payment" class="text-decoration-none">Payment Create</a>
                    </div>
                    <div class="col-auto">
                        <a href="/payment/fetch" class="text-decoration-none">Payment Fetch</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-12">
                <form method="post" action="/payment/emi" class="needs-validation" novalidate>
                    @Html.AntiForgeryToken()
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="mid" class="form-label">Merchant ID</label>
                            <input type="text" name="merchantId" class="form-control" id="mid" placeholder="Merchant ID" value="106598" required>
                        </div>

                        <div class="col-sm-6">
                            <label for="access_code" class="form-label">Access Code</label>
                            <input type="text" name="access_code" class="form-control" id="access_code" placeholder="API Access Code" value="4a39a6d4-46b7-474d-929d-21bf0e9ed607" required>
                        </div>

                        <div class="col-sm-6">
                            <label for="secret" class="form-label">Secret</label>
                            <input type="text" name="secret" class="form-control" id="secret" placeholder="Secret" value="55E0F73224EC458A8EC0B68F7B47ACAE" required>
                        </div>

                        <div class="col-sm-6">
                            <label for="mode" class="form-label">Gateway Mode</label>
                            <select name="pg_mode" id="mode" class="form-control">
                                <option value="true">Sandbox</option>
                                <option value="false">Production</option>
                            </select>
                        </div>

                        <div class="col-sm-6">
                            <label for="products" class="form-label">Products</label>
                            <textarea cols="30" name="products" class="form-control" id="products" placeholder="Products" required>
                                [
                                    {
                                        "product_code": "testSKU1",
                                        "product_amount": 2000000
                                    },
                                    {
                                        "product_code": "testSKU2",
                                        "product_amount": 2000000
                                    }
                                ]
                            </textarea>
                        </div>

                        <div class="col-sm-6">
                            <label for="product_amount" class="form-label">Product Amount</label>
                            <input type="text" name="product_amount" class="form-control" id="product_amount" placeholder="Product Amount" value="4000000" required>
                        </div>
                    </div>
                    <button class="w-100 my-4 btn btn-primary btn-lg" type="submit" name="pay_now">Fetch EMI Options</button>
                </form>
                <div class="row">
                    <div class="col-12">
                        <pre>
                            <code style="color: orangered;">
                                @ViewBag.data
                            </code>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>